@import './modules/variables/variables.css';
@import './modules/layouts/container.css';
@import './modules/layouts/flexbox.css';
@import './modules/components/header.css';
@import './modules/components/nav.css';

.body {
  margin: 0;
  background-color: var(--primary-background-color);  /*color de fondo de la página*/
  color: var(--primary-text-color);  /*color del texto de la página*/
  font-family: var(--primary-font-family);
}

.section {
  padding-top: var(--primary-spacing);
  padding-bottom: var(--primary-spacing);
}

.title {
  margin: 0;
  color: var(--primary-main-color);
  font-size: 2rem;
  text-align: center;
}

.img {
  display: block;
}

.img--logo {
  /*estilos del logo*/
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.img--hero {
  /*asignando estilo a la imagen*/
  width: 256px;
  height: 256px;
  border-radius: 50%;  /*para que este redondito la imagen usamos border radius*/
  /*para darle otra forma a la imagen*/
  /*border-radius: 0 0 50% 50%;*/

  /*para darle sombra a nuestra imagen*/
  box-shadow: -0.25rem -0.25rem 1rem 0.25rem var(--primary-main-color), 0.25rem 5px 1rem 0.25rem #388f7f;
  box-shadow: -0.25rem -0.25rem 1rem 0.25rem rgba(0, 90, 255, 0.8), 0.25rem 5px 1rem 0.25rem rgba(0, 213, 83, 0.8);
}

@media (min-width: 768px) {
  .img--hero {
    width: 320px;
    height: 320px;
  }
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.list--menu {
  opacity: 0;  /*se puso delante de todo y no deja inter actuar con lo demás*/
  pointer-events: none;  /*para que nos deje interactuar con lo demás que está en la página*/
  position: fixed;
  top: 80px;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.25s;
}

@media (min-width: 768px) {
  .list--menu {
    opacity: 1;
    pointer-events: initial;
    position: initial;
    background-color: initial;
  }
}

.link {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 700;
  transition: 0.25s color;
}

.link:hover {
  /*estilos a las etiquetas al costado del icono*/
  color: var(--primary-main-color);
}

.hero {
  /*para dar estilos a la clase article*/
  min-height: 100vh;
  background-image: url('https://i.postimg.cc/8zxJNzym/wp-49.jpg');  /*color de fondo*/
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero::before {
  content: '';
}

.card {
  max-width: 512px;
}

.card__body {
  background-color: #2b303b;
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.75rem;
}

.card__title {
  margin: 0;
  font-size: 1.25rem;
}

.card__title--lg {
  font-size: 1.5rem;
}

.card__text {
  margin: 0;
}

@media (min-width: 768px) {
  .card__body {
    gap: 1rem;
  }

  .card__title {
    font-size: 1.5rem;
  }

  .card__title--lg {
    font-size: 1.75rem;
  }

  .card__text {
    font-size: 1rem;
  }
}

.icon {
  /*dándole estilos a los iconos*/
  display: flex;
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
}

.icon--menu {
  transform: scale(var(--i-menu));
  position: absolute;
  right: 1rem;
  transition: transform 0.25s;
}

.icon--close {
  transform: scale(var(--i-close));
  position: absolute;
  right: 1rem;
  transition: transform 0.25s;
}

.icon--lg {
  font-size: 1.75rem;
}

.icon i {
  display: flex;
}

.button {
  display: flex;
  padding: 0.5em 2em;
  border: none;
  border-radius: 1rem;
  background-color: var(--primary-main-color);
  color: white;
  font-family: var(--primary-font-family);
  font-size: 0.75rem;
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
  transition: box-shadow 0.25s, filter 0.25s;
}

.button:hover {
  /*dando estilos al botón Desargar CV cuando se pase el mouse por botón*/
  box-shadow:
    0 0 0.125rem 0.0625rem var(--primary-main-color),
    0 0 0.25rem 0.125rem var(--primary-main-color);
  filter: brightness(1.125);
}

@media (min-width: 768px) {
  .button {
    font-size: 1rem;
  }
}

.g-layout {
  display: grid;  /*para definir las grillas*/
}

.g-layout--1-1 {
  grid-template-columns: 1fr;  /*1fr indica cuantas columnas se quiere tener, con grid-template-columns especificamos las columnas*/
}

.g-layout--1-1-1 {
  grid-template-columns: 1fr;
}

.g-layout--center {
  align-items: center;
  justify-items: center;
}

@media (min-width: 768px) {
  .g-layout--1-1 {
    grid-template-columns: 1fr 1fr;  /*1fr 1fr indica dos columnas*/
  }

  .g-layout--1-1-1 {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.gap-xs {
  gap: 1rem;
}

.gap-sm {
  gap: 1.5rem;
}

.gap-md {
  gap: 2rem;
}

.bg-secondary {
  background-color: var(--secondary-background-color);
}

.color-primary {
  color: var(--primary-main-color);
}

.d-flex {
  display: flex;
}

.f-direction-column {
  flex-direction: column;
}

.d-none {
  display: none;
}

@media (min-width: 768px) {
  .md\:d-block {
    display: block;
  }

  .md\:d-none {
    display: none;
  }
}